.page-enter-active {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.page-leave-active {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.page-enter, .page-leave-to
    /* .page-leave-active for below version 2.1.8 */ {
  opacity: 0;
}

.func-hidden:hover .link {
  opacity: 0.6;
}
.link:hover {
  opacity: 1 !important;
}
