.page-enter-active {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.page-leave-active {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.page-enter, .page-leave-to
    /* .page-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.98);
}

.func-hidden:hover .link {
  opacity: 0.6;
}
.link:hover {
  opacity: 1 !important;
}

@font-face {
  font-family: 'varka';
  src: url('~assets/fonts/varka.eot');
  src: url('~assets/fonts/varka.eot#iefix') format('embedded-opentype'),
    url('~assets/fonts/varka.woff2') format('woff2'),
    url('~assets/fonts/varka.woff') format('woff'),
    url('~assets/fonts/varka.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'varka';
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nuxt:before {
  content: '\e800';
}
.icon-tailwindcss:before {
  content: '\e801';
}
.icon-python:before {
  content: '\e802';
}
.icon-windicss:before {
  content: '\e803';
}
.icon-css:before {
  content: '\e804';
}
.icon-flask:before {
  content: '\e805';
}
.icon-html:before {
  content: '\e806';
}
.icon-javascript:before {
  content: '\e807';
}
.icon-node:before {
  content: '\e808';
}


*::-webkit-scrollbar {
  width: 12px;
  background-color: #252222;
  border-bottom-right-radius: 8px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #332f2f;
}


.scroll::-webkit-scrollbar {
  width: 12px;
  background-color: #0000002f;
  border-radius: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.575);
}
